
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "RUBIK"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 763px) {
  .mobile{
    margin-top: -225px;
  }
}

